.idea
.idea/*
.idea/workspace.xml
POKEDX/settings.py
POKEDX/wsgi.py
POKEDX/__pycache__/*
POKEDX/__pycache__/
apps/__pycache__/*
apps/__pycache__/
apps/apis/__pycache__/*
apps/apis/__pycache__/
apps/pokemon/__pycache__/*
apps/pokemon/__pycache__/
.idea/vcs.xml
.pyc
Media/
apps/apis/migrations/__pycache__/
#apps/pokemon/migrations/0002_remove_town_city.py
#apps/pokemon/migrations/0003_town_region_town.py
apps/pokemon/migrations/__pycache__/
